doctype html
html(lang="fr")

  head
    title #{__("page.parish")} #{parish.name}
    include includes/head_md.jade

  body
    
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
                    
        main.main.mdl-layout__content
            div#welcome
                div#welcome-center
                    h2=__('page.parish.welcome')
            include includes/place.jade
            include includes/gmap.jade