out/
*.iml
*.iws
*.ipr
target/
bin/
.idea
**/out/
**/*.iml
**/target/
**/bin/
**/.classpath
.project
**/.project
.settings/
**/.settings/
**/test-output/
**/node_modules/
**/R.java
**/*.class
*~
gradlew*
gradle
.gradle
local.properties
build
**/config.js
npm-debug.log
**/.DS_Store