extends ../template_parish.jade

block header
    span.mdl-layout-title #{__(payload.id == null?"page.admin.parish.place.create":"page.admin.parish.place.update")}

block content
  section.content
    include ../includes/placeCreate.jade