extends ../template_parish.jade

block header
    span.mdl-layout-title #{__("page.admin.parish.place")}
    div.mdl-layout-spacer
    nav.mdl-navigation
        a(href="/admin/parish/"+parish.id+"/place/create").mdl-navigation__link.show-dialog=__('btn.create')

block content
  section.content
    ul.mdl-list
        each place in parish.places
            li.mdl-list__item.mdl-shadow--2dp.mdl-list__item--two-line
                span.mdl-list__item-primary-content
                    i.material-icons.mdl-list__item-avatar home
                    a(href="/admin/parish/"+parish.id+"/place/"+place.id)=place.name
                    span.mdl-list__item-sub-title=place.address
            