link(rel="stylesheet", href="https://code.getmdl.io/1.1.3/material.blue_grey-blue.min.css")
script(src="https://storage.googleapis.com/code.getmdl.io/1.1.1/material.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script(src="/public/js/dialog.js")
script(src="/public/js/map_place.js")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="/public/css/main.css")
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")